.header {
  display: flex;
  flex-direction: row;
  padding-left: 50%;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  height: 96px;
}

.headerItem {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}
