.header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  height: 4vw;
  min-height: 50px;
}

.headerItem {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
