.pageStyles {
  color: #232129;
  background-color: rgb(217, 240, 206);
  padding: 0px 0px 0px 0px;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

.restStyles {
  padding: 10px 5% 5% 5%;
}
