.experienceChunk {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.description {
  padding-right: 10px;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
}

.story {
  padding-top: 10px;
  padding-bottom: 10px;
}
